{% extends 'layout.html' %}

{% block body %}

	<h1>CHECK YOUR GROUPS!<h1>

	<p>
	Create a new group: 	
	<a href="{{ url_for('NewGroup') }}">
	<i class="fas fa-user-plus"></i>
	</a>
	</p>
	<p>
	Join a group: 
	<a href="{{ url_for('JGroup') }}">
	<i class="fas fa-search-plus"></i>
	</a>
	</p>
<div class="center">
	<fieldset>
		<table style="margin-left: 20px;"> 
		<!-- Table headers -->
		    <th> 
		        <tr style="color: green; ">      
		        	<td>Your Groups!</td>
		        	<td></td> 
		 			<td>#People</td>
		 		</tr> 
		    </th> 
		      
		<!-- For loop logic of jinja template -->
		{%for i in range(0, len)%} 
		  
		<!-- table rows -->
		<tr> 
		    <td><a href="{{url_for('see',name=grupos[i],diaa=0)}}">{{grupos[i]}}</a></td>
		    <td>
		    	<form action="{{ url_for('group') }}" method="POST">
		    		<input type="hidden" name="njoin" id="njoin" value="{{grupos[i]}}">
		    		<button class="btn btn-danger" onclick="return confirm('Are you sure?')">leave</button>
		    	</form>
		    </td> 
		    <td>
		    	{{lengroups[i]}}
		    </td>
		  
		{%endfor%} 
		  
		</tr> 
		  
		</table> 
	</fieldset>
</div>


{% endblock %}